{% extends 'base.html' %}

{% block pageContent %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card card-default rounded-0 shadow ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tripRequestModalLabel">Request a Trip</h5>
            </div>
            <div class="modal-body">
                <form id="tripRequestForm" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Send Request</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}